body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(150deg, #033cae, #7b2591);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  background: #fff;
  margin: 200px 600px 200px;
  padding: 3px 50px 6px;
  border-radius: 10px;
}
h1 {
  text-align: center;
  color: black;
}

.input-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  border-radius: 16px;
  padding: 8px 40px 8px 20px;
  background: transparent;
  flex: 1;
}

button {
  padding: 8px 10px;
  cursor: pointer;
  margin: 30px;
  background: rgba(4, 189, 231, 0.806);
  border-radius: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #eee;
  padding: 12px 8px 12px 50px;
  user-select: none;
  list-style: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  background-image: url(images/unchecked.png);
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
ul li.check {
  color: #4c4949;
  text-decoration: line-through;
}
ul li.check::before {
  background-image: url(images/checked.png);
}
#taskList .edit {
  background: #987846;
  border-radius: 5px;
  margin: 0px 0px 0px 20px;
  padding: 2px;
}
#taskList .delete {
  margin: 0px 0px 0px 5px;
  padding: 2px;
  background: #b76885;
}